*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.scene {
  font-size: 24px;

  position: fixed;
  right: 20px;
  bottom: 20px;
  
  perspective: 400px;
  
  * {
    transform-style: preserve-3d;
  }
}

.layeredText {
  --layers-count: 24;
  --layer-offset: 0.8px;

  position: relative;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  animation: wobble 12s infinite linear;
  
  span {
    color: black;
    text-shadow: 0 0 0.1em #003;
  }
  
  .layers, .layer {
    position: absolute;
    inset: 0;
  }

  .layer {
    --n: calc(var(--i) / var(--layers-count));

    transform: translateZ(calc(var(--i) * var(--layer-offset)));
    color: hsl(280 100% calc(var(--n) * 88%));
  }
}

@keyframes wobble {
  from { transform: rotate(0deg) rotateX(30deg) rotate(360deg); }
  to { transform: rotate(360deg) rotateX(30deg) rotate(0deg); }
}