/* Increase the default width of the page. */
.main  {
    max-width: calc(var(--main-width) + var(--gap) * 20);
}

/* Increase the width of the header. */
.nav {
    max-width: calc(var(--nav-width) + var(--gap) * 7.36);
}

/* Increase less for the home page.*/
.post-entry,
.first-entry {
    max-width: calc(var(--main-width) + var(--gap) * 20);
    margin-left: auto;
    margin-right: auto;
}

/* Increase the width of images placed in home info. */
.home-info .entry-content img {
    width: 100%;
    max-width: fit-content;
    border-radius: 0%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* Increase the font of summary text. */
.post-entry .entry-content {
    font-size: 18px;
}

/* Set a limit on the width of post images and align them center. */
.post-single .entry-cover {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.post-content img {
    border-radius: 0%;
    margin: auto;
}
.post-content figcaption {
  text-align: center;
}

/* No underline */
.post-content a {
    box-shadow: none;
}