*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: "Special Elite";
    src: url("/fonts/SpecialElite-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "GenShinGothic";
    src: url("/fonts/GenShinGothic-Monospace-Normal.ttf") format("truetype");
}

/* Animation properties/keyframes
special-text and cool.html */
@property --hue {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

@keyframes spin { to { --hue: 360; } }

@keyframes wobble {
    from { transform: rotate(0deg) rotateX(30deg) rotate(360deg); }
    to { transform: rotate(360deg) rotateX(30deg) rotate(0deg); }
}

/* General font */
body {
    font-family: GenShinGothic;
    font-size: medium;
}