.profile-home {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: min(80%, 1200px);
    margin: auto;
    padding: var(--gap);
}

.profile-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile-inner img {
    border-radius: 35%;
    max-width: 100%;
    height: auto;
}

.home-grid { 
    display: grid; 
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr); 
    gap: 3rem; 
    margin-top: 6rem; 
}

.links-stack { 
    display: grid; 
    gap: 3rem; 
}

.table-responsive {
    overflow-x: auto;
    width: 100%;
}

.links-table table { 
    width: 100%; 
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.links-table td { 
    padding: .5rem 1rem; 
    vertical-align: top; 
    border: 1px solid rgb(67, 31, 77);
}

.links-table tr:nth-child(even) {
    background-color: rgba(90, 0, 78, 0.1);
}

.links-table tr:nth-child(odd) {
    background-color: rgba(61, 0, 30, 0.1);
}

.links-table tr:hover {
    background-color: rgba(90, 0, 78, 0.2);
}

.links-table td:first-child {
    width: 30;
}
        
.links-table td:last-child {
    width: 70%;
}

.section-title { 
    margin: 0 0 1rem; 
    text-align: center
}

.sidebar { 
    display: grid; 
    gap: 3rem; 
    align-content: start; 
}

.sidebar section {
    background-color: rgba(61, 0, 30, 0.05);
    padding: 1.25rem;
    border-radius: 8px;
}

.sidebar ul { 
    margin: 0; 
    padding-inline-start: 1rem; 
}

.muted { 
    opacity: .7; 
}

a:hover {
    color: hotpink;
}

a {
    color: rgb(240, 231, 235);
    font-weight: bold;
}

.home-grid a:hover, .sidebar a:hover {
    color: hotpink;
}

.home-grid a, .sidebar a {
    color: rgb(253, 212, 243);
}

@media (max-width: 1000px) {
    .home-grid {
        grid-template-columns: 1fr; 
    }
}