.profile-home {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    margin: auto;
    padding: var(--gap);
}

.profile-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.profile-inner img {
    --hue: 0;
    background: #111; color: #fff;
    display: grid; place-items: center;
    animation: spin 12s linear infinite;
    box-shadow: 0 0 24px 4px hsl(var(--hue) 60% 40%);
}

.profile-inner img {
    max-width: 100%;
    height: auto;
}

.home-grid { 
    display: grid; 
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 1.5fr); 
    gap: 0.75rem; 
    margin-top: 6rem; 
}

.links-stack { 
    display: grid; 
    gap: 3rem; 
}

.section-title { 
    margin: 0 0 1rem; 
    text-align: center
}

.sidebar { 
    display: grid; 
    gap: 2rem; 
}

.sidebar section {
    padding-left: 1.25rem;
    border-radius: 8px;
    width: 100%; 

}

.sidebar ul { 
    margin: 0; 
    padding-inline-start: 1rem; 

}

.muted { 
    opacity: .7; 
}

@media (max-width: 1000px) {
    .home-grid {
        grid-template-columns: 1fr; 
    }
}