.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    border: 1px solid rgb(67, 31, 77);
}

.reviews-table {
    border-collapse: collapse; 
    margin: 1.25rem 0 2.5rem; 
    table-layout: fixed; 
}

.reviews-table th,
.reviews-table td {
    padding: .6rem .5rem; 
}

.reviews-table th { 
    text-align: left; 
}

.reviews-table td:nth-child(1) { 
    width: 5%; 
}
.reviews-table td:nth-child(2) { 
    width: 40%; 
    word-break: break-word; 
}

.reviews-table td:nth-child(3) { 
    max-width: 140px; 
    height: auto;
}

.reviews-table td:nth-child(4) { 
    width: 5%; 
}

.reviews-table td:nth-child(5) { 
    max-width: 50%; 
}

.reviews-table tr:nth-child(odd) {
    background-color: rgba(61, 0, 30, 0.1);
}

.reviews-table tr:nth-child(even) {
    background-color: rgba(90, 0, 78, 0.1);
}

.reviews-table tr:hover {
    background-color: rgba(90, 0, 78, 0.2);
}