:root {
    --border: rgb(67, 31, 77);
    --fill-even: rgba(90, 0, 78, 0.6);
    --fill-odd: rgba(61, 0, 30, 0.6);
    --hover: rgba(90, 0, 78, 0.8);
}

.dark {
    --border: rgb(67, 31, 77);
}

table { 
    width: 100%; 
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th, td { 
    padding: .5rem 1rem; 
    vertical-align: top; 
    border: 1px solid var(--border);
}

tr:nth-child(even) {
    background-color: var(--fill-even);
}

tr:nth-child(odd) {
    background-color: var(--fill-odd);
}

tr:hover {
    background-color: var(--hover);
}

/* Index Page */
.links-table td:nth-child(1) { 
    width: 15%; 
}

/* Rest */

td:nth-child(1) { 
    width: 5%; 
}
td:nth-child(2) { 
    width: 40%; 
    word-break: break-word; 
}

td:nth-child(3) { 
    max-width: 140px; 
    height: auto;
}

td:nth-child(4) { 
    width: 5%; 
}

td:nth-child(5) { 
    max-width: 50%; 
}