.layout {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr var(--sidebar-width);
    align-items: start;
    max-width: var(--main-width);
    margin: 0 auto;
    gap: var(--space-1);
}

.main {
    position: relative;
    width: min(100%, 100rem);
    min-width: 0;
    margin: 0 auto;
}

.main-border {
    padding: var(--space-3);
    border: var(--border-tmprimary);
    background-color: var(--mprimary);
}

.sidebar {
    min-width: 0;
    width: min(100%, 20rem);

    position: sticky;
    top: var(--space-4);
    max-height: calc(100vh - var(--space-4));
    overflow-y: auto;
    z-index: 99;
}

@media (max-width:1440px) {
    .layout {
        grid-template-columns: var(--sidebar-width) 1fr;
    }
}

@media (max-width:768px) {
    .layout {
        flex-direction: column;
        height: auto;
        grid-template-columns: 1fr;
    }
}