<div class="scene">
    <div class="layeredText">
      <span>PIVNOY CHEL</span>
      <div class="layers" aria-hidden="true">
        <div class="layer" style="--i: 1;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 2;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 3;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 4;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 5;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 6;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 7;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 8;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 9;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 10;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 11;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 12;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 13;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 14;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 15;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 16;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 17;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 18;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 19;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 20;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 21;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 22;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 23;">PIVNOY CHEL</div>
        <div class="layer" style="--i: 24;">PIVNOY CHEL</div>
      </div>
    </div>
  </div>