{{- $category := .Get "category" | default "Reviews" -}}
{{- $tagsParam := .Get "tags" | default "" -}}

{{- $reviews := where .Site.RegularPages "Params.categories" "intersect" (slice $category) -}}

{{- define "renderTagTable" -}}
  {{- $name := .name -}}
  {{- $reviews := .reviews -}}

  {{- $filtered := where $reviews "Params.tags" "intersect" (slice $name) -}}
  {{- if gt (len $filtered) 0 -}}
    {{- $filtered = sort $filtered "Date" "desc" -}}

    <h2 id="{{ anchorize $name }}">{{ $name }}</h2>
    <table class="reviews-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Image</th>
          <th>Score</th>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
        {{- $i := 0 -}}
        {{- range $p := $filtered -}}
          {{- $i = add $i 1 -}}

          {{- $title := $p.Title -}}
          {{- $url := $p.RelPermalink -}}

          {{- $score := $p.Params.score | default "" -}}

          {{- $cover := "" -}}
          {{- with $p.Params.cover -}}
            {{- $cover = .image -}}
          {{- end -}}
          {{- $cover = $cover | default (index ($p.Params.images | default slice) 0) -}}


          <tr>
            <td>{{ $i }}</td>
            <td><a href="{{ $url }}">{{ $title }}</a></td>
            <td>
              {{- if $cover -}}
                <img src="{{ $cover | relURL }}" alt="{{ $title }}" loading="lazy">
              {{- else -}}&mdash;{{- end -}}
            </td>
            <td>{{ $score }}</td>
            <td>{{ plainify .Content | strings.Truncate 150 ""}} <a href="{{ $url }}">click here!</a> </td>
          </tr>
        {{- end -}}
      </tbody>
    </table>
  {{- end -}}
{{- end -}}

{{- if $tagsParam -}}
  {{- $wanted := slice -}}
  {{- range (split $tagsParam ",") -}}
    {{- $wanted = $wanted | append (trim . " ") -}}
  {{- end -}}
  {{- range $t := $wanted -}}
    {{- template "renderTagTable" (dict "name" $t "reviews" $reviews) -}}
  {{- end -}}
{{- else -}}
  {{- $allTags := slice -}}
  {{- range $reviews -}}
    {{- with .Params.tags -}}
      {{- range . -}}
        {{- if not (in $allTags .) -}}
          {{- $allTags = $allTags | append . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- range $t := sort $allTags -}}
    {{- template "renderTagTable" (dict "name" $t "reviews" $reviews) -}}
  {{- end -}}
{{- end -}}