{{- $reviews := where .Site.RegularPages "Params.categories" "intersect" (slice "Reviews") -}}
{{- $tags := slice -}}

{{- range $reviews -}}
  {{- with .Params.tags -}}
    {{- $tags = $tags | append . -}}
  {{- end -}}
{{- end -}}

{{- range $tag := sort ($tags | uniq) }}  
  {{- $filtered := where $reviews "Params.tags" "intersect" (slice $tag) -}}
  {{- $filtered = sort $filtered "Date" "desc" -}}

  <h2>{{ $tag }}</h2>
  <table>

    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Score</th>
        <th>Review</th>
      </tr>
    </thead>
    
    <tbody>
      {{- range $i, $p := $filtered -}}
        <tr>
          <td>{{ add $i 1  }}</td>
          <td><a href="{{ $p.RelPermalink }}">{{ $p.Title }}</a></td>
          <td>{{ $p.Params.score | default "" }}</td>
          <td>{{ $p.Plain | strings.Truncate 67 "..."}}<a href="{{ $p.RelPermalink }}"> click here!</a></td>
        </tr>
      {{- end -}}
    </tbody>
  </table>
{{- end -}}